.warp {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
}
.header {
  width: 100%;
  height: 0.8rem;
  font-size: 0.4rem;
  background-color: #ff9900;
  text-align: center;
  line-height: 0.8rem;
  position: relative;
  color: #fff;
}
.classify {
  height: calc(100vh - 0.8rem);
  display: flex;
}
.left {
  width: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
.left a {
  display: block;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;

  color: #333;
  font-size: 0.28rem;
  margin-bottom: 0.2rem;
}
.left .select {
  border-left: 3px solid #0084ba;
  background-color: #fff;
  color: #ff9900;
} 
.right {
  flex: 1;
  padding: 0.2rem 0.2rem;

}
.right ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.right ul li {
  width: 45%;
  height: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  overflow: hidden;
  background-color: #0084ba;
  margin-bottom: 0.2rem;
}
.right .img {
  width: 100%;
  height: 1.6rem;
  background-color: turquoise;

}