.warp {
  width: 100vw;
  height: 100vh;
}
.lg_header {
  width: 100%;
  height: 0.8rem;
  font-size: 0.4rem;
  background-color: #ff9900;
  text-align: center;
  line-height: 0.8rem;
  position: relative;
  color: #fff;
}
.reg {
  position: absolute;
  right: 0.2rem;
  top: 0;
  height: 100%;
  line-height: 0.8rem;
  color: #fff;
  text-align: center;
}
.form {
  font-size: 0.3rem;
  width: 70%;
  margin:  0 auto;
}
.core {
  height: calc(100% - 0.8rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.uname{
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #Ccc;
}
.pwd  {
  padding: 0.3rem 0;
  border-bottom: 1px solid #Ccc;
} 
.uname input,.pwd input {
  padding:  0.1rem 0;
  font-size: 0.3rem;
}
.forget {
  text-align: right;
  margin: 0.3rem 0 0.25rem 0;
}
.login {
  width: 100%;
  padding: 0.3rem 0;
  text-align: center;
  border-radius: 0.15rem;
  background-color: #ff9900;
  font-size: 0.3rem;
  color: #Fff;
}